{{yield}}
<!--The id attribute must be included with the name of the component-->
<div style="float:left;margin:10px" id="gallery-image">
  <img src="{{rootURL}}assets/{{file.url}}" class="img-rounded" alt="paris" width="160" height="120" />
</div>
