{{outlet}}
<div class="container-fluid">
  <h2 class="text-center text-uppercase">Home page</h2><hr />

  <div class="col-lg-3"></div>

  <div class="well col-lg-6">
    <h3 class="text-underlined text-uppercase">lorem ipsum</h3>
    <blockquote class="blockquote-reverse">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
      <footer>Lorum ipsum text fount at <a href="http://www.lipsum.com/">lipsum.com</a></footer>
    </blockquote>
  </div>

  <div class="col-lg-3"></div>

</div>
